<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!--add key="BaseDirectory" value="D:\DataImportExport\LiveServer\StoresFTP"></add-->
		<add key="BaseDirectory" value="E:\Workspace\MobileUpdater\MAUFiles"></add>
		<!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />-->
		<add key="LiquorAppsConnectionString" value="Data Source=LAPTOP-0ET8LFP2;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />

		<!--<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True" />-->
		<add key="BroudyAPIUrl" value="https://corp.broudys.com/BroudysWS16/Api/PhoneApp/"></add>
		<add key="BindoApiUrl" value="https://api2.bindo.com" />
		<add key="DeveloperId" value="yogesh@bottlecapps.com,hari@bottlecapps.com" />

		<add key="BCappsUserName" value="no-reply@bottlecapps.com" />
		<add key="DeveloperId" value="abhishekk@techmaticsys.com" />
		<add key="SquareAPIBaseUrl" value="https://connect.squareup.com" />
		<add key="CloverBaseURL" value="https://api.clover.com" />
		<add key="CloverAPPSecrete" value="3984c527-a413-80d1-63e6-6e4e5aa1ed65" />
		<add key="ERPLYBaseUrl" value="https://468675.erply.com/api/" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--used to static the qty for specific store-->
		<add key="Qty" value="11287" />
		<!--used to differentiate tax based on category-->
		<add key="Tax" value="11039" />
		<!-- while generate csv exclude sku for tobacco products and  tobacco related category filter-->
		<add key="Cat_sku_filter" value="11057" />
		<add key="Regular_response" value="11363;11227;11446;11714;11715;11683;11741;11856;11873;10794;11994;12247;12251;12253;12271;12272;12391;12392;12393;12402;12419;12410" />
		<add key="BeerDeposit" value="11446" />
		<add key="add" value="11057" />
	   <add key="upcfilter" value="11716" />
	   <add key="PriceBstore" value="11781" />
		<add key="different_price" value="11683" />
		<add key="PostiveQty" value="11741" />
		<add key="PostiveQtyforIrregularResponce" value="11834" />
		<add key="Sale_Price" value="11994;12251" />
		<add key="Small_Case" value="12268;12176" />
		<add key="IncludePack" value="12283" />
		


	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="no-reply@bottlecapps.com">
				<network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAQBWLIRVIDP4TCQ2C" password="BOWByfOnl3mQDlGgwAR9H3a9HRfwCtFATkvKPrT+DCba" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
